<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="bs.howdy.DataCollector.Gas"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Activities.AddStationsListActivity" />
        <activity android:name=".Activities.EnterZipcodeActivity" />
        <activity android:name=".Activities.GasMainActivity"
        	android:label="@string/app_name">
            <intent-filter>
                <action android:name="bs.howdy.DataCollector.Plugin" />
            </intent-filter></activity>
        <activity android:name=".Activities.StationInfoActivity" />
        <activity android:name=".Activities.StationsListActivity" />

    </application>
</manifest>